<!doctype html>
<html lang="en">
 <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" th:href="@{/css/style.css}">
   	<!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<title>Add Lesson</title>
</head>
<body class="bg-dark" >
 <!-- Navbar -->
	   <!-- Navbar -->
	<nav class="navbar navbar-expand-lg" id="navbar">
	  <div class="container-fluid">
	    <a class="navbar-brand"   ><span id="logo"><span>L</span>earnN<span>Code</span></span></a>
		 <button class="btn bg-transparent"><a class="nav-link" th:href="@{/trainerhome}"><span class="fs-4 fw-bold">Back</span></a> </button>	  
		
		 	
		 	<button class="btn bg-transparent"><a class="nav-link" href="/logout"><span class="fs-4 fw-bold">Logout</span></a> </button>	  
		  </div>
	</nav>
	<div class="container  mt-5 d-flex justify-content-center">
		<div class="card bg-while " >
			<div  class="card-body mt-3">
				<form action="/addLesson" method="post">
					<h2>Adding a New Lesson</h2>
					<label>Course ID</label>
					<input class="form-control" type="text" name="course" required><br>
					<label>Lesson ID</label>
					<input class="form-control" type="text" name="lessonId" required><br>
					<label>Lesson Name</label>
					<input class="form-control" type="text" name="lessonName" required><br>
					<label>Lesson Topic</label>
					<input class="form-control" type="text" name="lessonTopics" required><br>
					<label>Lesson Link</label>
					<input class="form-control" type="text" name="lessonLink" required><br>
					
					<input class="form-control btn btn-secondary" type="submit" value="ADD LESSON">	
				</form>
			</div>
	</div>
</body>
</html>